<!-- BLOG TIMELINE
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="timeline-container" ng-controller="ArticleController">

<!--  list articles template -->
  <div class='listViewContainer' ng-show="view === 'list'">
    <div class="post" ng-repeat="article in articles">
      <h2><a ng-click="viewArticle(article._id)">{{article.title}}</a><img class="edit-content" ng-show"user.isAuthed()" ng-click="editArticle(article._id)" src="images/cog.png" /></h2>
      <p>{{article.body}}</p>
      <div class="row">
        <!-- These need to be incorporated into the db -->
        <img src="images/avatar.jpg" alt="avatar"/>
        <h6>{{article.author}} | {{article.createdOn | date:'longDate'}}</h6>
      </div>
    </div>
    <div class="load">
      <button>Load More</button>
    </div>
  </div>

  <!-- view single article -->
  <div class="post" ng-show="view === 'single'">
    <h2>{{currentArticle.title}}<img class="edit-content" ng-show"user.isAuthed()" ng-click="editArticle(article._id)" src="images/cog.png" /></h2>
    <p>{{currentArticle.body}}</p>
    <div class="row">
      <!-- These need to be incorporated into the db -->
      <img src="images/avatar.jpg" alt="avatar"/>
      <h6>{{currentArticle.author}} | {{currentArticle.createdOn | date:'longDate'}}</h6>
    </div>
  </div>

  <!-- edit article view -->
  <!-- this is where we will end up using the markdown directive -->
  <div class="post" ng-show="view === 'edit'">
    <h2><input type="text" ng-model='currentArticle.title'/></h2>
    <p><textarea ng-model="currentArticle.body"/></p>
    <div class="row">
      <button class="save-content" ng-click="update()">Save</button>
    </div>
  </div>
</div>

