<div class="timeline-container" ng-controller="EditArticleController">
  <div class="post">
  <form>
    <h2><input type="text" ng-model="currentArticle.title" /></h2>
    <p><textarea ng-model="currentArticle.body" /></p>
    <p class="help-text">You can edit your posts with <a href="https://en.wikipedia.org/wiki/Markdown">Markdown</a> or HTML</p>
    <div class="row">
      <button ng-click="update()" class="save-content">Publish</button>
      <button ng-click="confirmDelete()" class="delete-content">Delete</button>
      <button ng-show="confirmingDelete" ng-click="destroy()" class="delete-content">Confirm</button>
      <button ng-show="confirmingDelete" ng-click="cancel()" class="">Cancel</button>
    </div>
  </form>
  </div>
</div>

