<!--  list articles template we may use the markdown directive here-->
<div class="timeline-container" ng-controller="ArticlesController">
  <div class='listViewContainer'>
    <div class="post" ng-repeat="article in articles | orderBy: '-createdOn'">
      <h2><a ui-sref="view({id: article._id})">{{article.title}}</a><img class="edit-content" ng-show="user.isAuthed()" ui-sref="edit({id: article._id})" src="images/cog.png" /></h2>
      <span class="preview" marked="article.body | limitTo: 175"></span><span ng-if="article.body.length >= 175" ui-sref="view({id: article._id})">... (show more)</span>
      <div class="row">
        <gravatar email="hero.email"/>
        <h6>{{article.author}} | {{article.createdOn | date:'longDate'}}</h6>
      </div>
    </div>
    <!-- <div class="load">
      <button>Load More</button>
    </div> -->
  </div>
</div>
